.main {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
}

.homePage {
    background: linear-gradient(225deg, rgba(255, 92, 51, 0.8), rgba(255, 92, 51, 0) 70.71%), linear-gradient(135deg, rgba(6, 82, 221, 0.8), rgba(6, 82, 221, 0) 70.71%);
}


.actorsPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    background: linear-gradient(225deg, rgba(255, 92, 51, 0.9), rgba(255, 92, 51, 0) 70.71%), linear-gradient(135deg, rgba(6, 82, 221, 0.9), rgba(6, 82, 221, 0) 70.71%);
    font-family: var(--font-family);
}

.description {
    display: inherit;
    justify-content: center;
    align-items: inherit;
    font-size: 1rem;
    max-width: var(--max-width);
    width: 100%;
    z-index: 2;
    text-align: center;
}

    .description a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }

    .description p {
        font-weight: 600;
        position: relative;
        margin-bottom: 2rem;
        margin-top: 2rem;
        padding: 1rem;
        border-radius: var(--border-radius);
        text-align: center;
        font-size: 1.5rem;
    }

.headers {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
    display: flex;
    flex-direction: column;
    gap: 0;
}
    .headers h1 {
        font-weight: 900;
        text-decoration: underline;
        margin: 0rem;
        text-align: center;
        font-size: 10rem;
        background-color: rgba(var(--card-rgb), 0);
    }
    .headers h3 {
        font-weight: 600;
        text-decoration: underline;
        margin-top: 0rem;
        margin-bottom: 0rem;
        text-align: center;
        font-size: 4rem;
        background-color: rgba(var(--card-rgb), 0);
    }
    .headers h4 {
        font-weight: 900;
        text-decoration: underline;
        margin: 0rem;
        text-align: center;
        font-size: 8rem;
        padding: 2rem;
        border-radius: 8px;
        background-color: rgba(var(--callout-rgb), 0.25);
        border: 1px solid rgba(var(--card-border-rgb), 0.25);
        transition: background 200ms, border 200ms;
        display: flex;
        flex-direction: column;
    }

.code {
    font-weight: 700;
    font-family: var(--font-mono);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 100%;
    width: var(--max-width);
}

.card {
    padding: 2rem;
    border-radius: 8px;
    background-color: rgba(var(--callout-rgb), 0.25);
    border: 1px solid rgba(var(--card-border-rgb), 0.25);
    transition: background 200ms, border 200ms;
    display: flex;
    flex-direction: column;
}

    .card:hover {
        background-color: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }


    .card h2 {
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

    .card p {
        margin: 0;
        opacity: 0.8;
        font-size: 1rem; 
        line-height: 1.5;
        text-align: center;
    }
.selected {
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    transition: background 200ms, border 200ms;
    background-color: rgba(var(--card-rgb), 0.1);
    border: 3px solid rgba(var(--card-border-rgb), 5);
}
    .selected:hover {
        background-color: rgba(var(--card-rgb), 0.1);
        border: 3px solid rgba(var(--card-border-rgb), 5);
    }

    .selected h2 {
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
    }

    .selected p {
        margin: 0;
        opacity: 0.8;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
    }

.dropdown {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
}

    .dropdown label {
        font-weight: 600;
        position: relative;
        display: inline-block;
        margin-right: 1rem;
        margin-bottom: 1.5rem;
        margin-top: 1.25rem;
        text-align: center;
        font-size: 1.5rem;
        white-space: nowrap;
    }

    .dropdown select {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: rgba(var(--callout-rgb), 0.25);
        font-family: var(--font-family);
        font-weight: 500;
    }

        .dropdown select:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 0 2px rgba(0,123,255,0.25);
        }

.searchButton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2rem;
    font-family: var(--font-family);
}

    .searchButton:hover {
        background-color: #0056b3;
    }

    .searchButton:focus {
        outline: none;
        box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 0;
}

    .center::before {
        background: var(--secondary-glow);
        border-radius: 50%;
        width: 480px;
        height: 360px;
        margin-left: -400px;
    }

    .center::after {
        background: var(--primary-glow);
        width: 240px;
        height: 180px;
        z-index: -1;
    }

    .center::before,
    .center::after {
        content: "";
        left: 50%;
        position: absolute;
        filter: blur(45px);
        transform: translateZ(0);
    }

.backButton {
    display: inline-block;
    justify-content: left;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    margin-left: 3.5rem;
    margin-top: 2.5rem;
    background-color: rgba(var(--callout-rgb), 0.25);
    border: 1px solid rgba(var(--card-border-rgb), 0.25);
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 15px;
}
    .backButton:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

.logo {
    position: relative;
    margin: 0;
    padding: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
    .card:hover {
        background: rgba(var(--card-rgb), 0.1);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
    }

        .card:hover span {
            transform: translateX(4px);
        }
}

@media (prefers-reduced-motion) {
    .card:hover span {
        transform: none;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .content {
        padding: 4rem;
    }

    .grid {
        grid-template-columns: 1fr;
        margin-bottom: 120px;
        max-width: 320px;
        text-align: center;
    }

    .card {
        padding: 1rem 2.5rem;
    }

        .card h1 {
            margin-bottom: 0.5rem;
        }

    .card h2 {
        margin-bottom: 0.5rem;
    }

    .center {
        padding: 8rem 0 6rem;
    }

    .center::before {
        transform: none;
        height: 300px;
    }

    .description {
        font-size: 0.8rem;
    }

        .description a {
            padding: 1rem;
        }

        .description p,
        .description div {
            display: flex;
            justify-content: center;
            position: fixed;
            width: 100%;
        }

        .description p {
            align-items: center;
            inset: 0 0 auto;
            padding: 2rem 1rem 1.4rem;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
            background: linear-gradient( to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), 0.5) );
            background-clip: padding-box;
            backdrop-filter: blur(24px);
        }

        .description div {
            align-items: flex-end;
            pointer-events: none;
            inset: auto 0 0;
            padding: 2rem;
            height: 200px;
            background: linear-gradient( to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40% );
            z-index: 1;
        }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
    }
}

@media (prefers-color-scheme: dark) {
    .vercelLogo {
        filter: invert(1);
    }

    .logo {
        filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
